<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue - 常用指令</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<!--v-cloak 不看到双标签-->
<div class="container" v-cloak>
    <div id="app" class="my-5">
        <div class="page-header">
            <img class="img-fluid" style="width: 1rem;" src="https://cn.vuejs.org/images/logo.png" alt="vue"> Vue - 常用指令
        </div>
        <hr>
        <div class="mb-3">
            <select class="custom-select" v-model="floor">
                <option value="0" selected>check floor</option>
                <option value="1">F - 1</option>
                <option value="2">F - 2</option>
                <option value="3">F - 3</option>
                <option value="4">F - 4</option>
            </select>
            <small class="text-muted">Please select which floor you want to live.</small>
        </div>

        <div class="jumbotron">
            <!--v-if + v-else 做逻辑判断-->
            <!--判断必须连在一起，中间不能有其他脚本-->
            <!--与 v-show 不同的是，v-show 是改变标签的 display 样式，v-if + v-else 会隐藏整块标签-->
            <h1 class="display-3 mb-2" v-if="floor > 3">High floor!</h1>
            <h1 class="display-3 mb-2" v-else>Low floor!</h1>
            <p class="lead">Low or high, it is not important, you should feel comfortable.</p>
        </div>

        <div class="jumbotron" v-show="floor > 1">
            <h1 class="display-3 mb-2">Default floor is bigger than 1</h1>
        </div>
    </div>
</div>
<script>
    // 字符串 0 ,在 v-if、v-show 中为 true
    let vm = new Vue({
        el: '.container',
        data: {
            floor: 0,
            msg: 'Hello, Vue!',
            content: `<h1 class="display-3">Hello, Bootstrap!</h1>`
        }
    });
</script>
</body>
</html>